@font-face {
	font-family: Brandon Grotesque;
	src: url("../../fonts/brandon-grotesque-light.woff");
  }

html, body {
    width: 100%;
	height: 100%;
	margin: 0;
	background-image: url("../fondos_blur/bg.png");
	background-size: cover;
}

.divGrande {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.icon {
    font-size: 40px;
    margin-left: auto;
    color: #30343F;
}

.icon:hover {
    cursor: pointer;
    color: #B88C4B;
    cursor: pointer;
}

.noMostrar {
    display: none;
}


/******  Caja  *******/
.caja {
	background-color: RGBA(255, 255, 255, 0.80);
	border: 1.5px solid rgb(21, 146, 230, 0.55);
	align-self: center;
	flex: 1 1 auto;
	margin: 2%;
    position: relative;
    padding: 20px;
    width: 70%;
}

.titulo {
	text-align: center;
	font-family: 'Brandon Grotesque';
	font-weight: 500;
}

.inputLogin {
	border: 1px solid #707070;
	background-color: white;
	height: auto;
	box-shadow: 0 4px 6px RGBA(0, 0, 0, 0.16);
	margin: 0 auto;
	padding: 10px;
	font-size: 1rem;
	margin-bottom: 30px;
	width: 100%;
	box-sizing: border-box;
}

.select {
	box-sizing: content-box;
}

.input {
	text-align: right;
}



.infoSucursal{
    float: left;
    overflow: hidden;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
}

.nombrePerfil {
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.mejorVendidoPerfil {
    display: inline-block;
    overflow: hidden;
}

.mejorVendidoTrofeo {
    width: 25%;
    float: left;
    padding-top: 20px;
    padding-left: 50px;
}

.mejorVendidoTrofeo img {
    width: 100%;
}

.imagenPerfil {
    text-align: center;
 }

 .imagen {
    /*padding-bottom: 20px;*/
 }

 .imagen img {
    border-radius: 50%;
    border: 2.5px solid rgb(21, 146, 230, 0.55);
    object-fit: fill;
    width: 200px;
    height: 200px;
 }

.mejorVendidoLibro {
    float: left;
    width: 25%;
    padding-left: 50px;
}

.mejorVendidoLibro img {
    width: 100%;
}

.librosSeccion {
    text-align: center;
    float: left;
    width: 70%;
    box-sizing: border-box;
}

.librosPerfil {
    width: 100%;
    text-align: center;
}

.nombrePerfil label, .nombrePerfil p, .calificacionPerfil p, .librosSeccion p, .mejorVendidoPerfil p, .mejorVendidoPerfil a {
    font-family: 'Lato', sans-serif;
    color: #30343F;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.mejorVendidoPerfil a {
    font-size: 1.1rem !important;
}

.nombrePerfil i {
    padding-left: 10px;
}

.nombrePerfil p:hover {
    cursor: pointer;
    cursor: pointer;
    color: #B88C4B;
}

.mejorVendidoPerfil p {
    font-size: 1rem;
    padding-bottom: 20px;
}

.librosSeccion a {
    font-family: "Trebuchet MS";
    text-decoration: none;
}

.librosSeccion p {
    /*padding-bottom: 20px;*/
    color: #30343F;
}

.contenedorLibrosPerfil {
    /*width: 25%;*/
    box-sizing: border-box;
    display: inline-block;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.libroContenedor {
    width: 100%;
}

.libro {
    /*height: 200px;
    object-fit: fill;*/
    height: 250px;
    object-fit: fill;
    width: 150px;
}

.informacionLibroContenedor {
    width: 100%;
    overflow: hidden;
}

.informacionLibroContenedor p {
    float:left;
    /*padding-left: 20px;*/
}

.informacionLibroContenedor a {
    float: right;
    /*padding-right: 20px;*/
}

.informacionLibroContenedor p , .informacionLibroContenedor a {
    font-size: 1rem;
    
}

.NOLIBROS {
    display: none;
}

.localidadSucursal {
    float: left;
    text-align: left;
    width: 50%;
    box-sizing: border-box;
    padding-left: 20px;
}

.localidadSucursal p {
    font-family: 'Lato', sans-serif;
    color: #30343F;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    padding-top: 8px;
}

.myBtn { 
    display: none;
}

/*BUSCAR*/
.barraBusquedas {
    /*background-color: #4D8AB2;
    width: 80%;
    align-self: center;
    margin: 2%;*/
    padding: 2%;
    box-sizing: border-box;
}

.wrapper {
	overflow: auto;
}

.busquedaItems {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
}

.selectorBusqueda {
    float: left;
    width: 15%;
}

.barraBusqueda {
    float: left;
    width: 80%;
    box-sizing: border-box;
}

.input {
    border: 1px solid #707070;
	background-color: white;
	width: 100%;
	box-shadow: 0 4px 6px RGBA(0, 0, 0, 0.16);
	display: block;
	/*margin: 0 auto;*/
	padding: 10px;
    font-size: 1rem;
    box-sizing: border-box;
    border-radius: 10px;
}

.iconoBusqueda {
    float: left;
    font-size: xx-large;
    width: 10%;
    padding-left: 5%;
    box-sizing: border-box;
}

/* Advertencia */

.advertencia {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFFFEA;
	width: 40%;
	z-index: 99;
	border: 1.5px solid rgba(21, 146, 230, 0.55);
}

.advertencia2 {
    margin: 0;
    padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFFFEA;
	z-index: 99;
    border: 1.5px solid rgba(21, 146, 230, 0.55);
    overflow: hidden;
    width: 50%;
}


.tituloAdv {
	text-align: center;
	font-family: 'Brandon Grotesque';
	font-weight: 500;
}


.mensaje {
	text-align: center;
	font-family: 'Trebuchet MS';
	font-weight: 500;
}

.overlay {
	filter: blur(3px);
	opacity: 0.5;
}


::placeholder {
	font-size: 16px;
	font-family: 'Trebuchet MS';
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.btns {
	text-align: center;
}

.btns2 {
    text-align: center;
    float: left;
    width: 100%;
    padding-top: 10px;
}

.btnVerde {
	background-color: #009688;
	color: white;
	font-weight: bold;
	font-size: 1;
	border: none;
	/*height: 5vw;
	width: 15%;*/
	margin: 20px 30px;
	border-radius: 2px;
    box-shadow: 0.5px 1px 0 grey;
    padding: 10px;
}

.btnVerde2 {
    background-color: #009688;
	color: white;
	font-weight: bold;
	font-size: 1;
	border: none;
	/*height: 5vw;*/
	border-radius: 2px;
    box-shadow: 0.5px 1px 0 grey;
    padding: 10px;
}

.ocultar {
	display: none !important;
}

.btnVerde:hover {
    cursor: pointer;
	background-color: #2fb2a6;
	transition: color 0.3s;
}

.btnError {
	background-color: #E15050;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border: none;
	padding: 10px;
	margin: 20px 30px;
	border-radius: 2px;
	box-shadow: 0.5px 1px 0 grey;
}

.btnError:hover {
    cursor: pointer;
	background-color: #e57777;
	transition: color 0.3s;
}


.cajaBtn {
	display: inline;
}




/***************************/
/*****HEADER Y FOOTER*******/
/***************************/

/*  Nav  */


.registrarLogin {
	margin: 0;
	padding: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	border-left: 1.8px solid #36558F;
	color: #30343F;
	font-family: "Trebuchet MS";
	text-decoration: none;
}

.registrarLogin:hover {
    cursor: pointer;
	color: #B88C4B;
}

.nombrePerfilArriba {
	margin-right: 10px;
}

.dropdown {
	position: relative;
	display: inline-block;
	font-family: "Trebuchet MS";
	font-size: 1.2rem;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #FFFFEA;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 555;
	right: 0;
	font-family: "Trebuchet MS";
	font-size: 1rem;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content>p>a {
	color: #30343F;
	text-decoration: none;
}

.dropdown-content>p>a:hover {
    cursor: pointer;
	color: #B88C4B;
}

nav {
    background-color: #FFFFEA;
    padding: 20px;
}

.wrapper {
	overflow: auto;
}

p,
a {
	color: #30343F;
	font-family: 'Trebuchet MS';
	text-decoration: none;
}


a:hover {
    cursor: pointer;
	color: #B88C4B;
	cursor: pointer;
}

.hamb {
    display: none;
}

.logoi {
    float: left;
    width: 25%;
}

.linksn {
    float: right;
}

.linksn > a {
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #30343F;
    font-family: "Trebuchet MS";
    border-left: 1.8px solid #36558F;
    text-decoration: none;
}

.linksn > a:hover {
    cursor: pointer;
    color: #B88C4B;
}

.linksn2 {
    float: right;
}

.linksn2 > a > i {
    font-size: 1.4rem;
}

.linksn2 > a > i:hover {
    cursor: pointer;
    color: #B88C4B;
}

.logoi > img {
    height: auto;
    width: 60%;
    max-width: 200px;
    min-width: 150px;
}

hr {
    background-color: #30343F;
}

.linksn2 > a > img {
    width: 30%;
    height: auto;
}

/*  Footer  */
footer {
    margin-top: auto;
    background-color: #FFFFEA;
    padding: 2%;
}

.footerLogo > img {
    height: auto;
    width: 15%;
}

.contenedores {
    width: 80%;
    float: left;
}

.footerContenedor {
    width: 33%;
    float: left;
}

.footerContenedor > a {
    display: block;
    color: #30343F;
}

.footerContenedor > a:hover {
    cursor: pointer;
    display: block;
    color: #B88C4B;
}

.footerClientes {
    width: 20%;
    float: left;
}

.footerClientesImg {
    margin: 0 2%;
}

.footerClientesImg > img {
    height: auto;
    width: 100%;
}

.footerClientesImg {
    float: left;
    width: 45%;
}

.linksAbajo {
    width: 100%;
    height: auto;
}

/***** MAPA ******/
.mapa {
    height: 100%;
    width: 100%;
    overflow:visible;
}

.contenedorMapa {
    box-sizing: border-box;
    float: left;
    width: 50%;  /* The width is the width of the web page */
    height: 250px;
    text-align: center;
}

/******************************************/
/************RESPONSIVE********************/
/******************************************/

@media (max-width: 786px) {
    .hamb {
        display: block;
        float: right;
    }

    .notHidden {
        display: block !important;
    }

    .linksn {
        width: 100%;
    }

    .linksn > a {
        display: block;
        background-color: #efefdd;
        font-size: 1.1rem;
    }

    .linksn > a:hover {
    cursor: pointer;
        background-color: #ddddc9;
        color: #B88C4B;
    }

    .linksn2 {
        display: none;
        float: none;
        text-align: center;
    }

    .linksn2 > a {
        margin: 0;
        padding: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        color: #30343F;
    }

    .linksn2 > a:hover {
    cursor: pointer;
        color: #B88C4B;
    }

    .logoConHamb {
        display: flex;
        vertical-align: middle;
        align-items: center;
    }

    .icon {
        font-size: 40px;
        margin-left: auto;
    }

    .hamb {
        margin-left: auto;
    }

    .footerLogo {
        text-align: center;
    }

    .footerLogo > img {
        height: auto;
        width: 30%;
    }

    .contenedores {

        width: 100%;
    }

    .footerContenedor {
        text-align: center;
    }

    .footerClientes {
        display: none;
    }



    .xSalir {
        padding: 2% 2% 0 0;
    }

    .xSalir > img {
        width: 5%;
    }

    .infoSucursal {
        width: 100%;
    }

    .nombrePerfil {
        text-align: center;
        float: none;
    }

    .mejorVendidoTrofeo {
        display: none;
    }

    .mejorVendidoLibro {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .librosSeccion {
        width: 100%;
    }

    .contenedorLibrosPerfil {
        width: auto;
    }

    .direccion {
        width: 85% !important;
    }

    .contenedorMapa {
        width: 100%;
    }
}