@font-face {
	font-family: Brandon Grotesque;
	src: url("../../fonts/brandon-grotesque-light.woff");
  }

html, body {
    width: 100%;
	height: 100%;
	margin: 0;
	background-image: url("../img/bg.png");
	background-size: cover;
}

.divGrande {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.icon {
    font-size: 40px;
    margin-left: auto;
    color: #30343F;
}

.icon:hover {
    color: #B88C4B;
    cursor: pointer;
}

.noMostrar {
    display: none !important;
}


/******  Caja  *******/
.caja {
    width: 80%;
    flex: 1 1 auto;
    align-self: center;
    margin: 2%;
    display: flex;
}

.sidebar {
    background-color: #FFFFEA;
    border: 1.5px solid rgb(21, 146, 230, 0.55);
    width: 20%;
    display: inline-block;
    flex: 1 1 auto;
    box-sizing: border-box;
    margin-right: 1%;
    padding: 10px;
}

.contenido {
    background-color: RGBA(255, 255, 255, 0.8);
    border: 1.5px solid rgb(21, 146, 230, 0.55);
    width: 70%;
    display: inline-block;
    flex: 1 1 auto;
    padding: 10px;
    box-sizing: border-box;
}

.titulo {
	text-align: center;
	font-family: 'Brandon Grotesque';
	font-weight: 500;
}

.adicional {
    margin: 0;
    padding: 0;
}

/*CONTENIDO*/

.wrapperContenido {
    width: 100%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 10px;
    overflow: auto;
    max-height: 40vh;
    min-height: 40vh;
    overflow-y: auto;
    background-color: #FFFFEA;
}

.contenedorSolicitud {
    width: 100%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 10px;
}

.compraInfoColum {
    font-family: 'Brandon Grotesque', serif;
    font-weight: 500;
    float: left;
    width: 20%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.compraInfoColumF {
    font-family: 'Brandon Grotesque', serif;
    font-weight: 500;
    float: left;
    width: 25%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.compraInfoNada {
    font-family: 'Brandon Grotesque', serif;
    font-weight: 500;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorCompra {
    display: inline-block;
    text-align: center;
    overflow: auto;
    box-sizing: border-box;
    width: 100%
}

.compraInfo {
    font-family: 'Brandon Grotesque', serif;
    font-weight: 500;
    float: left;
    width: 20%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.inputsSeparador {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.inputLogin {
    border: 1px solid #707070;
	background-color: white;
	width: 100%;
	box-shadow: 0 4px 6px RGBA(0, 0, 0, 0.16);
	padding: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.filtro {
    padding: 0 !important;
    margin: 0 !important;
}

.ubicacion {
    color: #30343F;
}
.ubicacion:hover {
    color: #B88C4B;
    transition: color 0.3s;
    cursor: pointer;
}

.check {
    color: #009688;
    padding-left: 10px;
}

.check:hover {
    color: #2fb2a6;
    transition: color 0.3s;
    cursor: pointer;
}

.cross {
    color: #E15050;
    padding-right: 10px;
}

.cross:hover {
    color: #e57777;
    transition: color 0.3s;
    cursor: pointer;
}








.imagenPerfil {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.imagenContenedor {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.imagenContenedor img {
    height: 200px;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2.5px solid rgb(21, 146, 230, 0.55);
    object-fit: fill;
}

.contenedorOtro {
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    width: 100%;
    padding: 10px;
    
}

.mensajeOtro {
    box-sizing: border-box;
    float: left;
    width: 70%;
    padding: 10px;
    border-radius: 25px;
    background-color: #dfe6e9;
}

.msjOtro {
	text-align: left !important;
	font-family: 'Brandon Grotesque';
    font-weight: 500;
    margin: 0;
}

.contenedorYo {
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    
}

.mensajeYo {
    box-sizing: border-box;
    text-align: right !important;
    float: right;
    width: 70%;
    padding: 10px;
    border-radius: 25px;
    background-color: #b5daff;
}

.msjYo {
	text-align: right !important;
	font-family: 'Brandon Grotesque';
    font-weight: 500;
    margin: 0;
}

.wrapperMensaje {
    width: 100%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding-top: 10px;
    overflow: auto;
}

.mensajeInput {
    width: 80%;
    padding: 10px;
    border: 1.5px solid #30343F;
    float: left;
    box-sizing: border-box;
}

.mensajeInput textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #30343F;
    border: none;
    resize: none;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    height: 1.9rem;
    background: transparent;
}

.mensajeEnviar {
    width: 20%;
    float: left;
    box-sizing: border-box;
}

.mensajeEnviar button:hover {
    background-color: rgb(86, 152, 202);
    cursor: pointer;
}

.mensajeEnviar button {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: white;
    border: none;
    background-color: #4D8AB2;
    height: 3.3rem;
    /*font-size: 1rem;*/
}

.mensajeError {
    box-sizing: border-box;
    text-align: right !important;
    float: right;
    width: 70%;
    padding: 10px;
    border-radius: 25px;
    background-color: #e57777;
}

.msjYoError {
	text-align: right !important;
	font-family: 'Brandon Grotesque';
    font-weight: 500;
    margin: 0;
    color: white;
}






/* Advertencia */

.advertencia {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFFFEA;
	width: 40%;
	z-index: 99;
    border: 1.5px solid rgba(21, 146, 230, 0.55);
    padding: 10px;
    box-sizing: border-box;
}

.advertencia2 {
    margin: 0;
    padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFFFEA;
	z-index: 99;
    border: 1.5px solid rgba(21, 146, 230, 0.55);
    overflow: hidden;
    width: 50%;
}

.contenedorMapa {
    float: left;
    width: 50%;
}

.mapa {
    width: 100%;
    height: 200px;
}

.localidadLibreria {
    width: 50%;
    float: left;
}


.tituloAdv {
	text-align: center;
	font-family: 'Brandon Grotesque';
    font-weight: 500;
    margin: 0;
}


.mensaje {
	text-align: center;
	font-family: 'Trebuchet MS';
	font-weight: 500;
}

.overlay {
	filter: blur(3px);
	opacity: 0.5;
}


::placeholder {
	font-size: 16px;
	font-family: 'Trebuchet MS';
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.btns {
	text-align: center;
}

.btns2 {
    text-align: center;
    float: left;
    width: 100%;
    padding-top: 10px;
}

.btnVerde {
	background-color: #009688;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border: none;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0.5px 1px 0 grey;
}

.ocultar {
	display: none !important;
}

.mostrarMas {
    color: #1B50E2;
    font-family: 'Trebuchet MS';
    font-weight: 500;
    text-align: center;
    margin-bottom: 2%;
}

.mostrarMas > a:hover {
    cursor: pointer;
    color: rgb(121, 156, 255);
}

.btnVerde:hover {
    cursor: pointer;
	background-color: #2fb2a6;
	transition: color 0.3s;
}

.btnError {
	background-color: #E15050;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border: none;
	padding: 10px;
	margin: 20px 30px;
	border-radius: 2px;
	box-shadow: 0.5px 1px 0 grey;
}

.btnError:hover {
    cursor: pointer;
	background-color: #e57777;
	transition: color 0.3s;
}

.cajaBtn {
	display: inline;
}

.btnAzul {
	background-color: #4D8AB2;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border: none;
    padding: 10px;
	border-radius: 2px;
	box-shadow: 0.5px 1px 0 grey;
}

.btnAzul:hover {
    cursor: pointer;
	background-color: rgb(86, 152, 202);
}



/***************************/
/*****HEADER Y FOOTER*******/
/***************************/

/*  Nav  */



.registrarLogin {
	margin: 0;
	padding: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	border-left: 1.8px solid #36558F;
	color: #30343F;
	font-family: "Trebuchet MS";
	text-decoration: none;
}

.registrarLogin:hover {
    cursor: pointer;
	color: #B88C4B;
}

.nombrePerfilArriba {
	margin-right: 10px;
}

.dropdown {
	position: relative;
	display: inline-block;
	font-family: "Trebuchet MS";
	font-size: 1.2rem;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #FFFFEA;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 555;
	right: 0;
	font-family: "Trebuchet MS";
	font-size: 1rem;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content>p>a {
	color: #30343F;
	text-decoration: none;
}

.dropdown-content>p>a:hover {
    cursor: pointer;
	color: #B88C4B;
}


nav {
    background-color: #FFFFEA;
    padding: 20px;
}

.wrapper {
	overflow: auto;
}

p,a,h1,h2,h3 {
	color: #30343F;
	text-decoration: none;
}


a:hover {
	color: #B88C4B;
	cursor: pointer;
}

.hamb {
    display: none;
}

.logoi {
    float: left;
    width: 25%;
}

.linksn {
    float: right;
}

.linksn > a {
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #30343F;
    font-family: "Trebuchet MS";
    border-left: 1.8px solid #36558F;
    text-decoration: none;
}

.linksn > a:hover {
    cursor: pointer;
    color: #B88C4B;
}

.linksn2 {
    float: right;
}

.linksn2 > a > i {
    font-size: 1.4rem;
}

.linksn2 > a > i:hover {
    cursor: pointer;
    color: #B88C4B;
}

.logoi > img {
    height: auto;
    width: 60%;
    max-width: 200px;
    min-width: 150px;
}

hr {
    background-color: #30343F;
}

.linksn2 > a > img {
    width: 30%;
    height: auto;
}

/*  Footer  */
footer {
    margin-top: auto;
    background-color: #FFFFEA;
    padding: 2%;
}

.footerLogo > img {
    height: auto;
    width: 15%;
}

.contenedores {
    width: 80%;
    float: left;
}

.footerContenedor {
    width: 33%;
    float: left;
}

.footerContenedor > a {
    display: block;
    color: #30343F;
}

.footerContenedor > a:hover {
    cursor: pointer;
    display: block;
    color: #B88C4B;
}

.footerClientes {
    width: 20%;
    float: left;
}

.footerClientesImg {
    margin: 0 2%;
}

.footerClientesImg > img {
    height: auto;
    width: 100%;
}

.footerClientesImg {
    float: left;
    width: 45%;
}

.linksAbajo {
    width: 100%;
    height: auto;
}

/******************************************/
/************RESPONSIVE********************/
/******************************************/

@media (max-width: 786px) {
    .hamb {
        display: block;
        float: right;
    }

    .notHidden {
        display: block !important;
    }

    .linksn {
        width: 100%;
    }

    .linksn > a {
        display: block;
        background-color: #efefdd;
        font-size: 1.1rem;
    }

    .linksn > a:hover {
    cursor: pointer;
        background-color: #ddddc9;
        color: #B88C4B;
    }

    .linksn2 {
        display: none;
        float: none;
        text-align: center;
    }

    .linksn2 > a {
        margin: 0;
        padding: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        color: #30343F;
    }

    .linksn2 > a:hover {
    cursor: pointer;
        color: #B88C4B;
    }

    .logoConHamb {
        display: flex;
        vertical-align: middle;
        align-items: center;
    }

    .icon {
        font-size: 40px;
        margin-left: auto;
    }

    .hamb {
        margin-left: auto;
    }

    .footerLogo {
        text-align: center;
    }

    .footerLogo > img {
        height: auto;
        width: 30%;
    }

    .contenedores {

        width: 100%;
    }

    .footerContenedor {
        text-align: center;
    }

    .footerClientes {
        display: none;
    }



    .xSalir {
        padding: 2% 2% 0 0;
    }

    .xSalir > img {
        width: 5%;
    }

    .contenedorLibrosPerfil {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }
}